In [1]:
import urllib.request, json
import requests
import pandas as pd

In [2]:
liquidacion_trimestral_uri = 'https://236ws.dpteruel.es/transparencia/dpteruel/wp-content/uploads/sites/3/2021/05/P4400000H-2021-LIQUIDACION-TRIMESTRAL-PRESUPUESTOS-1T.xml'

import xml.etree.ElementTree as ET
r = requests.get(liquidacion_trimestral_uri)
tree = ET.ElementTree(ET.fromstring(r.text))
root = tree.getroot()

(1629, 4)

In [3]:
liquidacion_trimestral_df.head()

,decimals,reference,currency,amount
0,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,1316220.00
1,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,329055.30
2,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,329055.30
3,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,0.00
4,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,1316220.00

In [4]:
liquidacion_trimestral_df.describe()

,decimals,reference,currency,amount
count,1629,1629,1629,1372
unique,2,294,1,480
top,2,IdContextosEconomicaIngresos_ImpuestosSobreLaR...,euro,0.00
freq,1581,6,1629,416

In [5]:
liquidacion_trimestral_df.isnull().sum()

decimals       0
reference      0
currency       0
amount       257
dtype: int64

In [6]:
liquidacion_trimestral_df.reference.unique()[:9]

array(['IdContextosEconomicaIngresos_ImpuestosSobreLaRentaDeLasPersonasFisicas',
       'IdContextosEconomicaIngresos_ImpuestoSobreLaRenta',
       'IdContextosEconomicaIngresos_RecargoProvincialEnElImpuestoSobreActividadesEconomicas',
       'IdContextosEconomicaIngresos_RecargosSobreImpuestosDirectosDeOtrosEntesLocales',
       'IdContextosEconomicaIngresos_ImpuestosDirectos',
       'IdContextosEconomicaIngresos_ImpuestoSobreElValorAnadido',
       'IdContextosEconomicaIngresos_ImpuestosSobreElValorAnadido',
       'IdContextosEconomicaIngresos_ImpuestoSobreElAlcoholYBebidasDerivadas',
       'IdContextosEconomicaIngresos_ImpuestoSobreLaCerveza'],
      dtype=object)

In [7]:
liquidacion_trimestral_df.decimals.unique()

array(['2', '0'], dtype=object)

In [8]:
liquidacion_trimestral_df.currency.unique()

array(['euro'], dtype=object)

# TODO: arreglar el formateo de amount

In [9]:
liquidacion_trimestral_df.amount = liquidacion_trimestral_df.amount.astype(float)

In [10]:
liquidacion_trimestral_df.describe()

             amount
count  1.372000e+03
mean   1.527500e+06
std    6.417581e+06
min   -1.554168e+05
25%    0.000000e+00
50%    1.976192e+04
75%    2.733480e+05
max    6.544558e+07